NEXT_PUBLIC_SANITY_PROJECT_ID=YOUR_PROJECT_ID
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=YOUR_WRITE_TOKEN
NEXT_PUBLIC_FB_PIXEL_ID=1234567890123456
EMAIL_USER=your@gmail.com
EMAIL_PASS=your_app_password
